@charset "UTF-8";
/* CSS Document */
h1.styleone {
    font-size: 48px;
	color: #7289da;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p.styleone {
    font-size: 12px;
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p.styletwo {
    font-size: 2px;
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
